/*************************************************
Copyright Regione Piemonte - 2022
SPDX-License-Identifier: EUPL-1.2-or-later
***************************************************/
.colorYellow{
    color: yellow;
    background-color: yellow;
}
.colorGray{
    color: rgba(190, 190, 190, 0.89);
    background-color: rgba(132, 132, 132, 0.2);
}
.colorDarkGray{
  color: rgba(190, 190, 190, 0.89);
  background-color: rgba(132, 132, 132, 0.6);
}

.blueIcon{
    color: rgb(241, 170, 87);
}

.no-underline{
    text-decoration: none !important;
}
