/*************************************************
Copyright Regione Piemonte - 2022
SPDX-License-Identifier: EUPL-1.2-or-later
***************************************************/
@import '~@angular/material/theming';
@import '../styles.scss';
@import './app.component.media.queries.css';

/** global */

// toolbar
.spacer {
  flex: 2;
}
.titleToolbar{
  margin-left:2%;
}
.iconToolbar{
  flex:1;
}

.alert-danger{
  color: red;
}

.snackbar-success { background-color: #00ff7f !important; }
 

.box_footer { 
  background-color: rgb(241, 170, 87);
  border-color: rgb(241, 170, 87);
  color: #fff;
  min-height: 120px;
  //border-bottom: 2px solid #fff;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
}

.textfooter{
display: flex;
align-items: right;
flex-direction: column;
min-width: 450px;
}
.box_footer div a{
  color: #fff;
}


.no-underline{
  text-decoration: none;
}

#image{
display: flex;
}

.matCard{
  margin-left:20%;
  margin-right:20%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mat-card-content{
  border: 1px solid #e8b100;
  background: #fcf8e5;
  color: #000;   
  padding:20px;
}

.orangeIcon{
  color: #e8b100;
}