<!--*************************************************
Copyright Regione Piemonte - 2022
SPDX-License-Identifier: EUPL-1.2-or-later
***************************************************/-->
<div class="title">
    <h2 style="font-size: 1.8em;">Sistema per la gestione unificata delle informazioni sugli autobus del Trasporto Pubblico Locale </h2>
</div>

<style>
    .title {
        font-family: Roboto, Helvetica Neue, sans-serif;
        display: flex;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: pre-wrap;
        text-align: center;
    }
    
</style>