####################################################
# test - tstjaxrs                  #
# ==========                                       #
# Configurazione di ambiente: <ambiente>           #
####################################################

# impostare a true nel caso in cui si debba disabilitare 
# la protezione XSRF
xsrffilter.disabled=false

