/*************************************************
Copyright Regione Piemonte - 2022
SPDX-License-Identifier: EUPL-1.2-or-later
***************************************************/

::ng-deep .mat-tab-label.mat-tab-disabled {
    font-weight: 800!important;
    color: black;
}