<!--*************************************************
Copyright Regione Piemonte - 2022
SPDX-License-Identifier: EUPL-1.2-or-later
***************************************************/-->
<app-navbar [labelSelected]="'DOWNLOAD_FILE_XLS'" [filtroNavbar]="context"></app-navbar>

<div style="margin-left:1em;min-height: 20em;padding-top:6em">
    <p>Da questa sezione è possibile scaricare il Modulo, da compilare con i dati relativi al parco autobus aziendale.</p>
    <br>
    <a target="_blank" href="assets/modulo.xls">Scarica Modulo</a>
</div>