<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net http://dozer.sourceforge.net/schema/beanmapping.xsd">
	
	<mapping>
		<class-a>it.csi.rebus.rebuscrus.integration.dto.VAutobusDTO</class-a>
		<class-b>it.csi.rebus.rebuscrus.vo.AutobusVO</class-b>
		<field>
			<a>primoTelaio</a>
			<b>primoTelaio</b>
		</field>
		<field>
			<a>marca</a>
			<b>marca</b>
		</field>
		<field>
			<a>modello</a>
			<b>modello</b>
		</field>
		<field>
			<a>contribuito</a>
			<b>contributo</b>
		</field>
		<field>
			<a>scadVincoliNoAlien</a>
			<b date-format="dd/MM/yyyy">dataScadVincoliNoAlien</b>
		</field>
		<field>
			<a>idVariazAutobus</a>
			<b>id</b>
		</field>
		<field>
			<a>fkAzienda</a>
			<b>idAzienda</b>
		</field>
		<field>
			<a>nTelaio</a>
			<b>telaio</b>
		</field>
		<field>
			<a>nTarga</a>
			<b>targa</b>
		</field>		
		<field>
			<a>fkTipoAlimentazione</a>
			<b>idTipoAlimentazione</b>
		</field>
		<field>
			<a>nPostiSedere</a>
			<b>nPostiSedere</b>
		</field>
		<field>
			<a>nPostiInPiedi</a>
			<b>nPostiInPiedi</b>
		</field>
		<field>
			<a>nPostiRiservati</a>
			<b>nPostiRiservati</b>
		</field>
		<field>
			<a>omologazioneDirettivaEuropea</a>
			<b>omologazioneDirettivaEuropea</b>
		</field>
		<field>
			<a>fkClasseAmbientaleEuro</a>
			<b>idClasseAmbientale</b>
		</field>
		<field>
			<a>flgFiltroFap</a>
			<b>flgFiltroFap</b>
		</field>
		<field>
			<a>fkImpiantiAudio</a>
			<b>idImpiantiAudio</b>
		</field>
		<field>
			<a>fkDotazioneDisabili</a>
			<b>idDotazioneDisabili</b>
		</field>
		<field>
			<a>fkImpiantiVisivi</a>
			<b>idImpiantiVisivi</b>
		</field>
		<field>
			<a>flgRilevatoreBip</a>
			<b>flgRilevatoreBip</b>
		</field>
		<field>
			<a>prezzoTotAcquisto</a>
			<b>prezzoTotAcquisto</b>
		</field>
		<field>
			<a>contributoPubblicoAcquisto</a>
			<b>contributoPubblicoAcquisto</b>
		</field>
		<field>
			<a>flgVeicoloAssicurato</a>
			<b>flgVeicoloAssicurato</b>
		</field>
		<field>
			<a>dataUltimaRevisione</a>
			<b>dataUltimaRevisione</b>
		</field>
		<field> 
			<a>nMatricolaAziendale</a>
			<b>matricola</b>
		</field>
		<field>
			<a>fkTipoImmatricolazione</a>
			<b>idTipoImmatricolazione</b>
		</field>
		<field>
			<a>enteAutorizzPrimaImm</a>
			<b>enteAutorizzPrimaImm</b>
		</field>
		<field>
			<a>fkClasseVeicolo</a>
			<b>idClasseVeicolo</b>
		</field>
		<field>
			<a>flgDuePiani</a>
			<b>flgDuePiani</b>
		</field>
		<field>
			<a>flgSnodato</a>
			<b>flgSnodato</b>
		</field>
		<field>
			<a>caratteristicheParticolari</a>
			<b>caratteristicheParticolari</b>
		</field>
		<field>
			<a>altraAlimentazione</a>
			<b>altraAlimentazione</b>
		</field>
		<field>
			<a>fkTipoAllestimento</a>
			<b>idTipoAllestimento</b>
		</field>
		<field>
			<a>progrTipoDimens</a>
			<b>progrTipoDimens</b>
		</field>
		<field>
			<a>lunghezza</a>
			<b>lunghezza</b>
		</field>
		<field>
			<a>numeroPorte</a>
			<b>numeroPorte</b>
		</field>
		<field>
			<a>postiCarrozzina</a>
			<b>postiCarrozzina</b>
		</field>
		<field>
			<a>flgImpiantoCondizionamento</a>
			<b>flgImpiantoCondizionamento</b>
		</field>
		
		<field>
			<a>flgCabinaGuidaIsolata</a>
			<b>flgCabinaGuidaIsolata</b>
		</field>
		<field>
			<a>altriDispositiviPrevenzInc</a>
			<b>altriDispositiviPrevenzInc</b>
		</field>
		<field>
			<a>flgOtx</a>
			<b>flgOtx</b>
		</field>
		<field>
			<a>flgAvm</a>
			<b>flgAvm</b>
		</field>
		<field>
			<a>flgContapasseggeri</a>
			<b>flgContapasseggeri</b>
		</field>
		<field>
			<a>fkProprietaLeasing</a>
			<b>idProprietaLeasing</b>
		</field>
		<field>
			<a>flgConteggiatoMiv</a>
			<b>flgConteggiatoMiv</b>
		</field>
		<field>
			<a>fkDepositoPrevalente</a>
			<b>idDeposito</b>
		</field>
		<field>
			<a>notaRiservataAzienda</a>
			<b>notaRiservataAzienda</b>
		</field>
		<field>
			<a>notaRiservataAmp</a>
			<b>notaRiservataAmp</b>
		</field>
		<field>
			<a>notaRiservataRp</a>
			<b>notaRiservataRp</b>
		</field>
		<field>
			<a>flgVerificatoAzienda</a>
			<b>flagVerificaAzienda</b>
		</field>
		<field>
			<a>flgVerificatoAmp</a>
			<b>flagVerificaAmp</b>
		</field>
		<field>
			<a>dataAlienazione</a>
			<b>dataAlienazione</b>
		</field>
			<field>
			<a>fkCategoriaVeicolo</a>
			<b>idCategoriaVeicolo</b>
		</field>
		
	</mapping>
	
</mappings>
<!-- SPDX-FileCopyrightText: (C) Copyright 2022 Regione Piemonte
SPDX-License-Identifier: EUPL-1.2
-->